<div class="well">
  <h3>Admin Links</h3>
  <p><%= link_to 'Pages', pages_path %>  </p>
  <p><%= link_to 'Users', users_path %>  </p>
</div>




<div class="well">
    <h3>Stats</h3>
    <p><strong>Users:</strong> <%= @user_count %></p>
</div>