<%=  render "shared/fb" %>

<% if signed_in?%>

	<table class="front" summary="for signed in users">
		   <tr>

			<td class="sidebar round">
				<%= render "shared/sidebar_shared"%>
			</td>
		   </tr>
	</table>

<% else %>




<h1>App Sting</h1>
<p>Which apps are buzzing?</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round"%>      

<% end %>